/* ********** Header - Nav *************  */


body {
    margin-top: 110px;
    /* needed because of Nav Fix */
}


.navbar-brand img {
    width: 90px;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

/* class for nav background color */
.navbar-bgColor,
.dropdown-item-bgColor {
    background-color: var(--mardiGreen);
}

.navbar-bgColor {
    border: 2px solid black;
}

.navbar-nav {
    margin: 0 auto;
}

/* Change nav text */
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .show>.nav-link {
    color: var(--mardiPurple);
    font-family: 'Henny Penny', cursive;
    font-size: 1.7em;
    margin: 0 25px;

}

.navbar-light .navbar-nav .show>.nav-link {
    text-align: center;
}

.navbar-light .navbar-toggler {
    margin-right: 25px;
}

/* *************************************  */